<div class="cocktail-card-wrapper">
  <div class="cocktail-card-left">
    <img src="{{ cocktailData.imageUrl }}" />
  </div>
  
  <div class="cocktail-card-center">
    <h1>
      <a routerLink="cocktails/{{ cocktailData.id }}">
        {{ cocktailData.name }}
      </a>
    </h1>
    <div 
      [ngClass]="{
        'alcohol-tab': true,
        'alcoholic': cocktailData.isAlcoholic,
        'non-alcoholic': !cocktailData.isAlcoholic
      }"
    >
      {{ cocktailData.isAlcoholic | alcoholic }}
    </div>
    <ul>
      <li *ngFor="let ingredient of cocktailData.ingredients">{{ ingredient }}</li>
    </ul>
  </div>

  <div class="cocktail-card-right">
    <span 
      [id]="'star-' + cocktailData.id"
      [ngClass]="{
        'icon-star': true,
        'active': favoritesService.favorites().includes(+cocktailData.id)
      }"
      (click)="favoritesService.toggleFavorite(+cocktailData.id)"
    ></span>
  </div>
</div>
