.cocktail-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left center right";
  .cocktail-card-left {
    grid: left;
    img {
      border-radius: 14px 0 0 14px;
      height: 100%;
    }
  }
  .cocktail-card-center {
    grid: center;
    padding-left: 1rem;
    h1 {
      margin-left: 0;
    }
    .alcohol-tab {
      border-radius: 1rem;
      color: white;
      display: inline-block;
      padding: 0 0.5rem;
    }
    .alcoholic {
      background-color: cornflowerblue;
    }
    .non-alcoholic {
      background-color: green;
    }
  }

  .cocktail-card-right {
    display: flex;
    justify-content: flex-end;
    grid: right;
    padding: 1rem;
  }
}
